<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание квестов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
<nav class="navbar">
    <div class="container">
        <div>
            <a href="#" th:href="@{/}" class="navbar-brand">Главная страница</a>
        </div>
    </div>
</nav>
<div th:if="${error}" class="alert alert-danger mt-3" role="alert">
    Не удалось распарсить JSON. Пожалуйста, убедитесь, что JSON введен корректно.
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="json-title">Введите JSON квеста ⓘ</h5>
                    <form id="quest-form" action="/create-quest" method="post">
                        <textarea id="json" class="form-control" name="json" rows="8"></textarea>
                        <button type="submit" id="submit-btn" class="btn btn-primary mt-3">Подтвердить</button>
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <!-- Строка для копирования маленького текста -->
                <p id="copy-text" class="bg-light p-2" style="cursor: pointer">Копировать пример</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('json-title').addEventListener('click', function () {
        alert("1) Правильная структура\n2) Название на английском\n3) Для каждого ответа должно быть продолжение");
    });

    document.getElementById('copy-text').addEventListener('click', function () {
        var textToCopy = "{\n" +
            "  \"name\": \"Java Test\",\n" +
            "  \"description\": \"Разные вопросы про Java\",\n" +
            "  \"questions\": [\n" +
            "    {\n" +
            "      \"name\": \"start\",\n" +
            "      \"situation\": \"Первый вопрос\",\n" +
            "      \"text\": \"Что такое многопоточность (multithreading) в Java?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это возможность выполнения нескольких потоков в одном приложении для повышения производительности\",\n" +
            "          \"nextQuestion\": \"next-question\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это методика оптимизации работы с памятью\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это процесс создания нескольких экземпляров одного класса\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"(game-over)incorrect-answer\",\n" +
            "      \"situation\": \"Вы дали неверный ответ.\",\n" +
            "      \"text\": \"К сожалению, это неправильный ответ. Спасибо за участие. Попробуйте еще раз!\",\n" +
            "      \"answers\": []\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"next-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Что такое синхронизация (synchronization) в многопоточных приложениях?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это методика определения порядка выполнения потоков\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это процесс слияния нескольких потоков в один для ускорения работы программы\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это механизм, который предотвращает одновременный доступ нескольких потоков к общим данным\",\n" +
            "          \"nextQuestion\": \"third-question\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"third-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Что такое deadlock в многопоточных приложениях?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это ситуация, когда поток зависает пытаясь выполнить код с ошибками\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"это ситуация, когда два или более потоков блокируются, ожидая друг друга, чтобы освободить занятые ими ресурсы\",\n" +
            "          \"nextQuestion\": \"fourth-question\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это ситуация, когда поток выполняется дольше, чем ожидалось, из-за неправильной настройки приоритетов\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"fourth-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Что такое сервлет (servlet) в Java?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это интерфейс для создания пользовательских GUI-компонентов\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это Java-классы, которые расширяют возможности сервера, способный обрабатывать запросы от клиентов\",\n" +
            "          \"nextQuestion\": \"fifth-question\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это специальный класс, который управляет вводом и выводом в Java приложениях\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"fifth-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Что такое жизненный цикл сервлета в Java?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это последовательность состояний, через которые проходит сервлет от создания до уничтожения\",\n" +
            "          \"nextQuestion\": \"sixth-question\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это период времени, в течение которого сервлет активен и обрабатывает запросы\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это набор методов, которые вызываются при каждом HTTP-запросе к сервлету\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"sixth-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Что такое JSP (JavaServer Pages)?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"Это сервер для хранения и управления Java-кодом\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это библиотека для работы с XML-документами в Java приложениях\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"Это технология, позволяющая создавать динамические веб-страницы с использованием Java\",\n" +
            "          \"nextQuestion\": \"seventh-question\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"seventh-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Какие основные методы жизненного цикла сервлета?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"start(), execute(), stop()\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"init(), service(), destroy()\",\n" +
            "          \"nextQuestion\": \"eighth-question\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"begin(), process(), end()\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"eighth-question\",\n" +
            "      \"situation\": \"Следующий вопрос:\",\n" +
            "      \"text\": \"Какие основные методы интерфейса Runnable в Java?\",\n" +
            "      \"answers\": [\n" +
            "        {\n" +
            "          \"text\": \"start(), stop(), resume()\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"run()\",\n" +
            "          \"nextQuestion\": \"(win)final-answer\"\n" +
            "        },\n" +
            "        {\n" +
            "          \"text\": \"execute(), yield(), wait()\",\n" +
            "          \"nextQuestion\": \"(game-over)incorrect-answer\"\n" +
            "        }\n" +
            "      ]\n" +
            "    },\n" +
            "    {\n" +
            "      \"name\": \"(win)final-answer\",\n" +
            "      \"situation\": \"Поздравляем!\",\n" +
            "      \"text\": \"Вы прошли все вопросы успешно! Отличная работа!\",\n" +
            "      \"answers\": []\n" +
            "    }\n" +
            "  ]\n" +
            "}\n"
        var textArea = document.createElement("textarea");
        textArea.value = textToCopy;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
        alert("Пример скопирован!");
    });
</script>
</body>
</html>
